/*

Your styles go here!

Hint! You'll probably want to start by styling:
  * <body>
  * <article>
  * <h1>
  * <img>

I've left some boilerplate below for you.

*/

body {
    margin: auto;
    max-width: 600px; 
}

article {     
}

.header-title {
   text-align: center;
}

img {
    max-width: 100%;
}
